
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#map {
  height: 400px;
  width: 100%;
}
.delete-form {
  display: inline;
}

.iconTitle {
  text-align: center;
  padding-bottom: 20px;
      color: forestgreen;
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  padding-bottom: 20px;
}

.jumbotron p {
  padding-bottom: 10px;
}
